.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
}

.app-label {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}
.mat-grid-tile{
    min-height: 40px !important;
}
.mat-card-content{
    margin-bottom: 0;
}
.p-5-10{
    padding:  5px 10px;
}
.green-color{
    color: green;
}
::ng-deep .mat-grid-tile.checkbox .mat-figure{
    padding-left: 10px;
    justify-content: left;
}