/* Animation when Toggle Side Navigator */
mat-sidenav-content.page-wrapper.mat-drawer-content.mat-sidenav-content {
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  transition-property: transform, margin-left, margin-right;
}

.page-wrapper {
  margin-left: 47.5px;
}

.sidebar-open {
  margin-left: 240px;
}

.sidebar-close {
  margin-left: 48px;
}