<app-page-session>
	<mat-card-content>
		<ng-container *ngTemplateOutlet="headerContent"></ng-container>
	</mat-card-content>
	<div [hidden]="!data.POCode">
		<mat-card-content>
			<ng-container *ngTemplateOutlet="mainContent"></ng-container>
		</mat-card-content>
		<ng-container *ngTemplateOutlet="actionContain"></ng-container>
	</div>
</app-page-session>

<ng-template #headerContent>
	<div #form layout="column" style="margin-left: 6px;">
		<span style="text-transform:uppercase;color: #d0333a;">Tiếp theo:</span>
		<div>
			<mat-grid-list cols="3" rowHeight="50px" gutterSize="15px" flex-gt-sm="100">
				<mat-grid-tile>
					<div style="width: 100%;">
						<mat-form-field appearance="outline" class="app-input">
							<input #code name="code" tabindex="1" placeholder="{{ inputPlaceholder | translate}}"
								matInput (keyup.enter)="onEnter($event)" autocomplete="off">
						</mat-form-field>
					</div>
				</mat-grid-tile>
			</mat-grid-list>
		</div>
	</div>
</ng-template>

<ng-template #mainContent>
	<div [hidden]="!data.POCode">
		<table class="app-table app-table-p">
			<tr>
				<td style="width: 100px; color: #ADADAD;"><span>{{'POAdjust.POCode' | translate}}:</span>
				</td>
				<td style="width: 200px;">
					<label>
						<a href="{{data.POLink}}" class="linklocation" target="_blank">
							{{data.POCode}}
						</a>
					</label>
				</td>

				<td style="width: 180px; color: #ADADAD;"><span>{{'POAdjust.POSessionCode' | translate}}:</span></td>
				<td style="width: 200px;"><label>{{data.POSessionCode}}</label></td>

				<td style="width: 100px; color: #ADADAD;"><span>{{'POAdjust.PalletCode' | translate}}:</span></td>
				<td style="width: 200px;">
					<label>
						<a href="{{data.PalletLink}}" class="linklocation" target="_blank">
							{{data.PalletCode}}
						</a>
					</label>
				</td>
				<td style="width: 150px; color: #ADADAD;"><span>{{'POAdjust.PalletStatus' | translate}}:</span></td>
				<td style="width: 200px;"><label>{{data.PalletStatus}}</label></td>
			</tr>
			<tr>
				<td style="color: #ADADAD;"><span>{{'POAdjust.DOCode' | translate}}:</span>
				</td>
				<td><label>{{data.ExternalCode}}</label></td>

				<td style="color: #ADADAD;"><span>{{'POAdjust.POSessionStatus' | translate}}:</span></td>
				<td><label>{{data.POSessionStatus}}</label></td>

				<td style="color: #ADADAD;"><span>{{'POAdjust.TotalSKU' | translate}}:</span></td>
				<td><label>{{data.TotalSKU}}</label></td>


				<td style="color: #ADADAD;"><span>{{'POAdjust.TotalAdjustSKU' | translate}}:</span></td>
				<td><label>{{data.TotalAdjustSKU}}</label></td>
			</tr>
			<tr>
				<td style="color: #ADADAD;"><span>{{'POAdjust.POStatus' | translate}}:</span>
				</td>
				<td><label>{{data.POStatus}}</label></td>
				<td></td>
				<td></td>

				<td style="color: #ADADAD;"><span>{{'POAdjust.TotalUnit' | translate}}:</span></td>
				<td><label>{{data.TotalUnit}}</label></td>
				<td style="color: #ADADAD;"><span>{{'POAdjust.TotalAdjustUnit' | translate}}:</span></td>
				<td><label>{{data.TotalAdjustUnit}}</label></td>
			</tr>
		</table>
		<div [hidden]="!data.PalletCode">
			<span style="font-size: medium; font-weight: bold; margin-bottom: 50px;">{{'POAdjust.TitleProductAdjust' |
				translate | uppercase}}</span>
			<div style="margin-top: 10px;">
				<app-edit-table class="app-table" #appTableAdjust [configs]="tableAdjustConfig"></app-edit-table>
			</div>
		</div>
		<div [hidden]="!data.POCode" style="margin-top: 10px;">
			<span style="font-size: medium; font-weight: bold; margin-bottom: 50px;"
				[hidden]="!data.PalletCode">{{'POAdjust.TitleProduct' |
				translate | uppercase}}</span>
			<span style="font-size: medium; font-weight: bold; margin-bottom: 50px;"
				[hidden]="data.PalletCode">{{'POAdjust.TitleProductAdjust' |
				translate | uppercase}}</span>
			<div style="margin-top: 10px;" [hidden]="!data.PalletCode">
				<app-edit-table class="app-table" #appTable [configs]="tableConfig"></app-edit-table>
			</div>
			<div style="margin-top: 10px;" [hidden]="data.PalletCode">
				<app-edit-table class="app-table" #appTableTotalAdjust
					[configs]="tableTotalAdjustConfig"></app-edit-table>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #actionContain>
	<div class="app-btn-row" style="margin-top: 10px;">
		<div *ngIf="!IsFinishPallet">
			<button mat-button mat-raised-button color="accent" style="margin-top: 15px; margin-left: 15px;"
				(click)="finishPalletAdjust()">
				{{'POAdjust.finishPallet' | translate}}
			</button>
		</div>
		<div *ngIf="IsFinishPO">
			<button mat-button mat-raised-button color="accent" style="margin-top: 15px; margin-left: 15px;"
				(click)="finishPOAdjust()">
				{{'POAdjust.finish' | translate}}
			</button>
		</div>
		<div *ngIf="!IsFinish">
			<button mat-button mat-raised-button style="margin-top: 15px; margin-left: 15px;" (click)="backToPO()">
				{{'POAdjust.exit' | translate}}
			</button>
		</div>
	</div>
</ng-template>