
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PurchaseOrder</title>
    
    <style>
        body {
            /* border: 1px black solid; */
            size: A4;
            padding: 25px 70px;
            height: 297mm;
            width: 210mm;
        }
        hr {
            color: #555;
        }

        .invoice-box {
            max-width: 800px;
            margin: auto;
            /* border: 1px solid #eee; */
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

            .invoice-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

                .invoice-box table td {
                    vertical-align: top;
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 10px;
                }

                    .invoice-box table tr.top table td.title {
                        font-size: 45px;
                        line-height: 10px;
                        color: #333;
                        max-width: 230px;
                    }

                .invoice-box table tr.information table td {
                    padding: 10px 5px 10px 5px;
                    border: 1px solid black;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 0.5px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                    vertical-align: central middle !important;
                }

                .invoice-box table tr.item td {
                    border-bottom: 0.5px solid #eee;
                }

        .strong {
            font-weight: 700;
        }

        .right {
            text-align: right !important;
        }

        .center {
            text-align: center;
        }

        .invoice-box table tr.heading td {
            border: 0.5px solid #000;
            font-weight: bold;
            text-align: center;
            padding: 0 5px;
        }

        .invoice-box table tr.item td {
            border: 0.5px solid #000;
            text-align: center;
            padding: 0 5px;
        }

        .masterData tr td span {
            font-size: 13px;
            line-height: 15px;
        }

        .detailData tr td span, .detailData tr td {
            font-size: 13px;
            vertical-align: middle;
        }

        .detailData {
            border-collapse: collapse;
            width: 100%;
        }

        .sign tr td {
            text-align: center;
            font-size: 13px;
            line-height: 15px;
        }

        .listtitle {
            padding: 10px 0px 10px 0px;
        }

            .listtitle span {
                font-size: 13px;
                line-height: 15px;
                font-weight: 700;
            }

        .topcontactinfo span {
            font-size: 12px;
            line-height: 10px;
        }
    </style>
        <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.0/JsBarcode.all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js"></script>
</head>
<body>
    
        <div id="idPrintReport">
            <input type="hidden" id="idCode" value="@Model.Code" />
            <div class="invoice-box">
                <table cellpadding="0" cellspacing="0">
                    <tr class="top">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td style="width: 150px; vertical-align: middle;">
                                        <img style="width:auto;max-width:100%;height:auto;" src="Logo_WIN.png">
                                    </td>
                                    <td style="text-align:right" class="topcontactinfo">
                                        <span class="strong">Công ty cổ phần hàng tiêu dùng Masan</span>
                                        <br />
                                        <span>Tòa nhà Mplaza, 39 Đ. Lê Duẩn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh </span>
                                        <br />
                                        <!-- <span>@PrintPOReceiptRESX.Phone : @PrintPOReceiptRESX.EtonPhone</span> -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td colspan="2"><br /></td></tr>
                    <tr>
                        <td colspan="2" style="text-align: center; padding-bottom: 20px;">
                            <span style="font-size: 25px;" class="strong">BIÊN BẢN BÀN GIAO KIÊM PHIẾU NHẬP KHO</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 50%">
                            <table class="masterData">
                                <tr>
                                    <td style="width: 30%"><span class="strong">PO No. : </span></td>
                                    <td><span class="strong" data-bind="html: POCode">POWIN85E8A942835</span></td>
                                </tr>
                                <tr>
                                    <td>  <span class="strong">Mã đối tác :</span></td>
                                    <td><span class="strong" data-bind="html: ClientCode">WIN</span></td>
                                </tr>
                                <tr>
                                    <td>  <span class="strong"> Mã tham khảo :</span></td>
                                    <td><span class="strong" data-bind="html: ExternalCode">1294_ROCKET_01032022_1230_0002002623</span></td>
                                </tr>
                                <tr>
                                    <td>  <span class="strong">Ngày tạo  :</span></td>
                                    <td><span class="strong" data-bind="html: CreatedDate">01-03-2022 13:09</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Ngày gữi hàng :</span>
                                    </td>
                                    <td><span class="strong" data-bind="html: PODate">01-03-2022 13:09</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Mã CTKM :</span>
                                    </td>
                                    <td><span class="strong" data-bind="html: PromotionCode">FS-MN-02.003</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Ghi chú :</span>
                                    </td>
                                    <td><span class="strong" data-bind="html: Note">Import PO Rocket</span></td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align: center">
                           <img class="imgBarcode" width="200" id="idBarCode" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <table class="masterData">
                                <tr>
                                    <td colspan="2">
                                        <span class="strong" style="font-size: 15px" data-bind="html: ClientName">VendorName</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30%">
                                        <span class="strong">Mã đối tác :</span>
                                    </td>
                                    <td>
                                        <span class="strong" data-bind="html: ClientCode">VendorId</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Địa chỉ đối tác :</span>
                                    </td>
                                    <td>
                                        <span class="strong" data-bind="html: ClientAddress">VendorAddress</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Người liên hệ :</span>
                                    </td>
                                    <td>
                                        <span class="strong" data-bind="html: ClientContact">VendorContact</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Số ĐT :</span>
                                    </td>
                                    <td>
                                        <span class="strong" data-bind="html: ClientPhone">VendorPhone</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="masterData">
                                <tr>
                                    <td colspan="2">
                                        <span class="strong" style="font-size: 15px">Công ty cổ phần hàng tiêu dùng Masan</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30%">
                                        <span class="strong">Kho nhận hàng :</span>
                                    </td>
                                    <td>
                                        <span class="strong" data-bind="html: WarehouseName">Củ chi - Warehouse</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Địa chỉ kho :</span>
                                    </td>
                                    <td>
                                        <span class="strong" data-bind="html: WarehouseAddress">Củ chi, HCM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Người liên hệ :</span>
                                    </td>
                                    <td>
                                        <span class="strong"  data-bind="html: ContactName">CSKH Winmart</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="strong">Số ĐT</span>
                                    </td>
                                    <td>
                                        <span class="strong" data-bind="html: WarehousePhone">18006968</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="listtitle">
                            <br />
                            <span>Thông tin bàn giao/nhập kho :</span>
                            <br />
                        </td>
                    </tr>
                    <tr class="information">
                        <td colspan="2" style="padding: 0px;">
                            <table class="detailData">
                                <thead>
                                    <tr class="heading">
                                        <td rowspan="2">
                                            STT
                                        </td>
                                        <td rowspan="2">
                                            Mã SKU
                                        </td>
                                        <!-- <td rowspan="2">
                                            Barcode
                                        </td> -->
                                        <td rowspan="2">
                                            Sản phẩm
                                        </td>
                                        <td rowspan="2">
                                            Đơn vị tính
                                        </td>
                                        <td rowspan="2" style="text-align: center;width: 65px;">
                                            % HSD
                                        </td>
                                        <!-- <td rowspan="2" style="text-align: center;width: 75px;"  data-bind="visible : ShowSKUType()">
                                            Loại SKU
                                        </td> -->
                                        <!-- <td colspan="2">
                                            Số lượng
                                        </td> -->
                                        <td rowspan="2">
                                            Theo PO
                                        </td>
                                        <td rowspan="2">
                                            Thực nhận
                                        </td>
                                        <td rowspan="2">
                                            Ghi chú
                                        </td>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Details, visible : Details().length > 0">
                                    <tr class="item">
                                        <td style="width: 10px;">
                                            <span data-bind="text :  $index() + 1 ">1</span>
                                        </td>
                                        <td>
                                            <span data-bind="text : Sku">10013456</span>
                                        </td>
                                        <!-- <td>
                                            <span data-bind="text : ClientSku">10013456</span>
                                        </td> -->
                                        <td style="text-align: left">
                                            <span data-bind="text : ProductName">GOUTE Bánh vị Mè giòn tan 144g/158.4g</span>
                                        </td>
                                        <td>
                                            <span data-bind="text : UnitName">HOP</span>
                                        </td>
                                        <td style="text-align: right">
                                            <span data-bind="html : PercentExpirationDate">70</span>                                        
                                        </td>
                                        <!-- <td style="text-align: left" data-bind="visible : $root.ShowSKUType()">
                                            <span data-bind="html : SKUTypeName"></span>
                                        </td> -->
                                        <td style="text-align: right">
                                            <span data-bind="text : Qty">240</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <span data-bind="text : Note">CTKM MN Thang 02 Ky 01</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" style="text-align: right">Tổng cộng</td>
                                        <td style="text-align: right; vertical-align: center">
                                            <span data-bind="text : TotalQty">240</span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                    <tr><td colspan="2"><br /></td></tr>
                    <tr>
                        <td colspan="2">
                            <span> Kho Supra đã nhận bàn giao đầy đủ hàng hóa cho các hạng mục được ghi nhận tại cột “Thực nhận” của Biên bản này</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span>Biên bản này được lập thành 02 bản, mỗi bên giữ 01 bản, có giá trị pháp lý như nhau.</span>
                        </td>
                    </tr>
                    <tr><td colspan="2"><br /></td></tr>
                    <tr>
                        <td style="width: 50%"></td>
                        <td style="text-align: center">
                            <span>........,,.., ngày ....., tháng ......, năm ......</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <span> Đại diện giao hàng</span>
                            <br />
                            <span style="font-style: italic"> (Ký, họ tên)</span>
                        </td>
                        <td style="text-align: center">
                            <span> Đại diện nhận hàng</span>
                            <br />
                            <span style="font-style: italic"> (Ký, họ tên)</span>
                        </td>
                    </tr>
                </table>
                <p style="height: 150px">
                </p>
            </div>
        </div>
        <script>
            JsBarcode("#idBarCode", "POWIN85E8A942835s",
                {
                    fontSize: 20, fontOptions: "bold", height: 90
                });
            JsBarcode("#{{obj.IdSoCode}}", "{{obj.SoCode}}",
                {
                    fontSize: 20, fontOptions: "bold", height: 50
                });
            JsBarcode("#{{obj.IdTrackingCode}}", "{{obj.TrackingCode}}",
                {
                    fontSize: 20, fontOptions: "bold", height: 40
                });
        </script>
</body>
</html>
