<mat-form-field>
    <input type="text" (blur)="onBlur($event)" (focus)="onFocus($event)" tabindex={{tabindex}}  placeholder={{title}} aria-label="Number" matInput 
    [formControl]="myControl" [matAutocomplete]="auto" autocomplete="off" required>
		<mat-icon class="header-down-icon" matSuffix>keyboard_arrow_down</mat-icon>
    <mat-autocomplete (optionSelected) = "optionSelected($event)" (closed)="closed($event)" autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.propertyname}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>