/* For use in src/lib/core/theming/_palette.scss */
// $ov-dark-primary: (
//     50 : #e4e4e4,
//     100 : #bcbcbc,
//     200 : #8f8f8f,
//     300 : #626262,
//     400 : #414141,
//     500 : #1f1f1f,
//     600 : #1b1b1b,
//     700 : #171717,
//     800 : #121212,
//     900 : #0a0a0a,
//     A100 : #f28022,
//     A200 : #f0781e,
//     A400 : #ee6d19,
//     A700 : #ec6314,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #ffffff,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #ffffff,
//         A200 : #ffffff,
//         A400 : #ffffff,
//         A700 : #ffffff,
//     )
// );


/* For use in src/lib/core/theming/_palette.scss */
$ov-dark-primary: (
    50 : #e1e1e1,
    100 : #b3b3b3,
    200 : #818181,
    300 : #4f4f4f,
    400 : #292929,
    500 : #030303,
    600 : #030303,
    700 : #020202,
    800 : #020202,
    900 : #010101,
    A100 : #1f1f1f,
    A200 : #1b1b1b,
    A400 : #171717,
    A700 : #121212,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



/* For use in src/lib/core/theming/_palette.scss */
// $ov-dark-primary: (
//     50 : #e4e4e4,
//     100 : #bcbcbc,
//     200 : #8f8f8f,
//     300 : #626262,
//     400 : #414141,
//     500 : #1f1f1f,
//     600 : #1b1b1b,
//     700 : #171717,
//     800 : #121212,
//     900 : #0a0a0a,
//     A100 : #e07171,
//     A200 : #d74747,
//     A400 : #eb0000,
//     A700 : #d10000,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #ffffff,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #ffffff,
//         A400 : #ffffff,
//         A700 : #ffffff,
//     )
// );


/* For use in src/lib/core/theming/_palette.scss */
$ov-dark-accent: (
    50 : #fdf0e4,
    100 : #fbd9bd,
    200 : #f9c091,
    300 : #f6a664,
    400 : #f49343,
    500 : #f28022,
    600 : #f0781e,
    700 : #ee6d19,
    800 : #ec6314,
    900 : #e8500c,
    A100 : #ffffff,
    A200 : #ffe8e0,
    A400 : #ffc3ad,
    A700 : #ffb093,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$ov-dark-warn: (
    50 : #e0fce7,
    100 : #b3f7c2,
    200 : #80f19a,
    300 : #4deb71,
    400 : #26e752,
    500 : red,
    600 : #00e02f,
    700 : #00dc27,
    800 : #00d821,
    900 : #00d015,
    A100 : #f8fff9,
    A200 : #c5ffc8,
    A400 : #92ff98,
    A700 : #79ff7f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

