
$countryColor: #f3c74c;
$southColor: #42DFE5;
$centralColor: #F2D222;
$northColor: #03BBFF;
$southWestColor: #E66FE6;

$blockColor: #1f1f1f;
$padding15pxBlock: 15px;
$fontWeight500: 500;
$displayInlineBlock: inline-block;
$center: center;
$width100Percent: 100%;
$width50Percent: 50%;
$boderRadius5px: 5px;
$fontSize14px: 14px;
$letterSpacing: 0px;