<div mat-dialog-content *ngIf="!data.isupload">
  <h2>{{'FinishPo.ConfirmTitle' | translate}}</h2>
  <p><strong>{{'FinishPo.WarehouseName' | translate}}</strong>: {{data.WarehouseName}}</p>
  <p><strong>{{'FinishPo.POSet' | translate}}</strong>: {{data.POSet}}</p>
</div>
<div mat-dialog-content *ngIf="data.isupload">
  <h2>{{data.title}}</h2>
  <p><strong>Phiên nhận hàng</strong>: {{data.code}}</p>
  <p><strong>Tên file</strong>: {{data.fileName}}</p>
</div>
<div mat-dialog-actions>
  <div class="notification-action">
    <button class="custom-button" style="width: 80px;"  mat-flat-button color="accent" (click)="onOkClick()" cdkFocusInitial>{{ 'btn_yes' | translate:{Default: "Yes"} }}</button>
    <button class="custom-button" style="width: 80px;" mat-flat-button (click)="onCancelClick()">{{ 'btn_no' | translate:{Default: "No"} }}</button>
  </div>
</div>
