<div *ngIf="data.type===1">
  <div mat-dialog-title ngClass="{{data.type === 1 ? 'title-confirm':'title-notify'}}">
    <div>{{ (data.title || 'HỦY PO') | translate}}</div>
  </div>
  <div mat-dialog-content>
    <p>{{ data.message | translate:{Default: data.message, Ref: data.ref} }}</p>
  </div>
  <div>
    <form>
      <mat-form-field class="text-full-width" appearance="fill">
        <textarea  placeholder="Nhập ghi chú (*bắt buộc*)" matInput class="app-input" name="noteContent" [(ngModel)]="noteContent"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>

<div *ngIf="data.type===2">
  <div mat-dialog-title ngClass="{{data.type === 2 ? 'title-confirm':'title-notify'}}">
    <div>{{ (data.title || 'HỦY PO') | translate}}</div>
  </div>
  <div mat-dialog-content>
  <p  style="font-size: 15px;">{{ data.message }}</p>
  <p style="font-size: 15px;">{{ data.data.fileName }}</p>
  </div>
</div>

<div mat-dialog-actions>
  <div class="notification-action">
    <button class="custom-button" mat-flat-button color="accent" (click)="onOkClick()" cdkFocusInitial>{{ 'btn_yes' | translate:{Default: "Yes"} }}</button>
    <button class="custom-button" mat-flat-button (click)="onCancelClick()">{{ 'btn_no' | translate:{Default: "No"} }}</button>
  </div>
</div>
