.app-table {
    width: 100%;
    display: inline-grid;
}

.app-label {
    width: 200px;
    min-width: 160px;
    max-width: 180px;
}

.span-input-upload{
    float:right;
    background-color: #d0333a; 
    color: #fff;
    padding: 1px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 14px;
    padding: 7px;
}

.type-combo {
    width: 100%;
}

.import-file {
    width: 100%;
}

.import-file,
.note-input {
    display: flex;
    border: solid 1px #b8b9ba;
    border-radius: 5px;
}
